.card-text{
  overflow-wrap: break-word;
}

.text-truncate
{
  display: inline-block;
}

.app-movie-card
{
  height: 100%;
  margin: 40px;
}

.card-image-top
{
  width: 30%;
}

.image-container
{
  width: 100%;
}
